<section class="client-slider-03">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Client Slider -->
            <div class="col-md-12">
                <!-- Client Slider -->
                <div class="category-slider">
                    <!-- Client 01 -->
                    <div class="item">
                        <a href="#">
                            <!-- Slider Image -->
                            <i class="icon-apple"></i>
                            <h4>Apple</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <!-- Slider Image -->
                            <i class="icon-samsung"></i>
                            <h4>Samsung</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <!-- Slider Image -->
                            <i class="icon-huawei"></i>
                            <h4>huawei</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <!-- Slider Image -->
                            <i class="icon-lg"></i>
                            <h4>LG</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <!-- Slider Image -->
                            <i class="icon-sony"></i>
                            <h4>Sony</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <!-- Slider Image -->
                            <i class="icon-xiaomi"></i>
                            <h4>Xiaomi</h4>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>