<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">
                <div class="404-content">
                    <h1 class="display-1 pt-1 pb-2">SOON</h1>
                    <p class="px-3 pb-2 text-dark">Sorry! the page is underconstruction, it will be available soon</p>
                    <a [routerLink]="['/home']" class="btn btn-main">GO HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>