<footer class="footer section section-sm">
  <!-- Container Start -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <div class="footer-block">
          <div class="header">
            <h6>PAYMENT METHODS</h6>
          </div>
          <img class="card-img-top img-fluid" src="../../../assets/images/footer/Group-61-1024x424.webp"
            alt="Card image cap">
        </div>
      </div> <!-- /Category List -->


      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <div class="footer-block">
          <div class="header">
            <h6>LEVERANS VIA</h6>
          </div>

          <img class="card-img-top img-fluid" src="../../../assets/images/footer/dhl.webp"
          alt="Card image cap">


        </div>
      </div> <!-- /Category List -->


      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <div class="footer-block">
          <div class="header">
            <h6>CONTACT US</h6>
          </div>
          <div class="">
            <p>Contact us through our chat, send us an email or call our customer service. We will always respond within
              24 hours.</p>
            <strong>Tel: </strong>
            <span>+46 8 552 810</span>
            <br>
            <strong>Email: </strong>
            <span>
              <a href="mailto:info@mobilsk.com">info@mobilsk.com</a>
            </span>
          </div>
        </div>
      </div> <!-- /Category List -->
      

      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <div class="footer-block">
          <div class="header">
            <h6>ABOUT US</h6>
          </div>

          <div class="">

            <a href="" [routerLink]="['/terms']">Terms and Conditions</a><br>
            <a href="" [routerLink]="['/about']">About Us</a>

          </div>

        </div>
      </div> <!-- /Category List -->








    </div>
  </div>
  <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <!-- Copyright -->
        <div class="copyright">
          <p>Copyright © . All Rights Reserved, developed & designed by <a class="text-primary"
              href="https://themefisher.com" target="_blank">R-tech</a></p>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <!-- Social Icons -->
        <ul class="social-media-icons text-right">
          <li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher" target="_blank"></a></li>
          <li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher" target="_blank"></a></li>
          <li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher" target="_blank"></a></li>
          <li><a class="fa fa-vimeo" href=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Container End -->
</footer>